* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
}

header {
  position: fixed;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 600px;
  gap: 30%;
  z-index: 2;
}

header img {
  width: 250px;
}

header nav ul {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  cursor: pointer;
}

.menu-icon {
  width: 25px;
  margin-right: 15px;
  display: none;
}

section {
  background-image: radial-gradient(#173863, #0a1a2f);
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

section .list {
  width: 70vw;
  height: 100%;
  margin: auto;
  position: relative;
}

section .list::before {
  content: "";
  position: absolute;
  height: 200px;
  width: 100%;
  top: 50%;
  border-top: 1px solid #fff;
}

section .list .item {
  position: absolute;
  inset: 0;
}

section .list .item .car-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
}

section .list .item .car-img img {
  width: 80%;
  transform: rotate(-20deg);
}

section .list .item .content {
  position: absolute;
  left: 60%;
  width: 70%;
  height: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 15px;
}

section .list .item .content .car-information {
  font-weight: bold;
}

section .list .item .content h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

section .list .item .content .description {
  font-size: 0.9rem;
  max-width: 350px;
  line-height: 1.4;
}

section .list .item .content button {
  background-color: #00bfff;
  color: #080606;
  border-radius: 20px;
  width: 130px;
  height: 45px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

section .arrow {
  width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25px);
  display: flex;
  justify-content: space-between;
}

section .arrow button {
  top: 60%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

section .arrow button:nth-child(1) img {
  transform: scale(-1);
}

section .arrow button img {
  width: 20px;
  margin-top: 4px;
  cursor: pointer;
}

section .arrow button:hover {
  background-color: #00bfff;
}

section .list .item {
  transform: translateX(100vw);
  transition: 0.5s;
  opacity: 0;
}

section .list .item .car-img img {
  transform: rotate(0);
  transition: 0.5s;
  transition-delay: 0.3s;
}

section .list .item .content .car-information,
section .list .item .content h2,
section .list .item .content .description,
section .list .item .content .information {
  transform: translateX(200vw);
  transition: 0.7s;
  transition-delay: 0.3s;
  opacity: 0;
}

section .list .item .content h2 {
  transition-delay: 0.5s;
}

section .list .item .content .description {
  transition-delay: 0.7s;
}

section .list .item .content .information {
  transition-delay: 0.9s;
}

section .list .item.active {
  transform: translateX(0);
  transition: 0.5s;
  opacity: 1;
}

section .list .item.active .car-img img {
  transform: rotate(-20deg);
}

section .list .item.active .content .car-information,
section .list .item.active .content h2,
section .list .item.active .content .description,
section .list .item.active .content .information {
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 1115px) {
  header {
    width: 90vw;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 80%;
    background: rgb(255, 255, 255);
    padding: 5px 5px;
    border: none;
    border-radius: 50%;
  }

  header nav ul {
    display: none;
    position: absolute;
    flex-direction: column;
    right: 12%;
    padding: 20px 0;
  }
}

@media (max-width: 735px) {
  section .list .item .content h2 {
    font-size: 3rem;
  }

  section .list .item .content .description {
    font-size: 0.7rem;
  }

  header nav ul {
    right: 3%;
  }
}

@media (max-width: 650px) {
  section .list .item .content {
    padding: 7rem 0;
    gap: 4px;
  }
}
